/* ============================================================================
 * 追加CSS
 * ========================================================================= */


/* general
-------------------------- */
.g-font-j{
    font-family: 'Noto Sans Japanese', serif;
}

.errorMessage {
    padding: 0.3em;
    background-color: #F00;
    color: #FFF;
}


/* header navigation
-------------------------- */
#navbar h1{
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-size: 1.8em;
    padding-left: 0.5em;
}


/* side
--------------------------- */

#side-menu .user-section{
    background-color: #fff;
    padding: 0.3em 0;
}


/* main area
-------------------------- */
#page-wrapper {
    padding-top: 1em;
}