/* body ボディ
-----------------------------------------------------*/

body {
font-family: "Verdana", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "Osaka‐等幅";
font-size:80%;
line-height: 140%;
background-color:#eaeaea;
background:url(../images/back.gif) center repeat-y;
color: #333333;
text-align: center;
margin: 0px auto;
padding: 0px;
}

a:link {
text-decoration:underline;
}

a:visited {
text-decoration:underline;
}

a:active {
text-decoration:underline;
}

a:hover {
text-decoration: none;
}


/* container コンテナ
-----------------------------------------------------*/

#container {
width:900px;
background-color:#FFFFFF;
margin: 0px auto;
text-align: left;
}

/* header ヘッダー
-----------------------------------------------------*/

#header {
height:100px;
background:#ffffff;
background-repeat:no-repeat;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
width:900px;
}

#header_left {
float:left;
}

#header_left2 {
float:left;
color:#333333;
font-size:28px;
line-height: 140%;
font-weight:bold;
margin: 15px 0px 0px 10px;
overflow: hidden;
display: inline;
}

#header_right {
color:#333333;
font-size:12px;
float:right;
text-align:right;
margin: 10px 10px 0px 0px;
display: inline;
}

#header_right .tel{
font-size:16px;
font-weight:bold;
color:#333333;
line-height: 105%;
}

#header a, #header a:link, #header a:visited {
color:#333333;
text-decoration: none;
}

#header a:hover {
color:#333333;
text-decoration:underline;
}

h1 {
font-size:10px;
font-weight:normal;
height:15px;
margin: 0px auto;
text-align: left;
padding: 0px 0px 5px 10px;
}

/* menu メニュー
-----------------------------------------------------*/

#menu {
width:100%;
background:url(../images/menu_back.gif) ;
height:28px;
font-size:12px;
}

#menu ul {
width:900px;
list-style:none;
display:block;
margin: 0px auto;
text-align: left;
padding: 0px;
}

#menu li {
list-style:none;
float:left;
text-align:center;
border-left:solid #996633 1px;
width:179px;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}

#menu li.home {
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
width:180px;
border-left:none;
}

#menu a, #menu a:link, #menu a:visited {
color: #FFFFFF;
text-decoration: none;
height:23px;
padding: 5px 0px 0px 0px;
display:block;
}

#menu a:hover {
color: #FFFFFF;
background:#99ccff;
background:url(../images/menu_back_h.gif) ;
text-decoration: none;
}

/* pan パンくずリスト
-----------------------------------------------------*/

.pan {
font-size:10px;
padding: 10px 0px 0px 0px;
}

/* main メイン
-----------------------------------------------------*/

#main {
float:left;
width:600px;
background: #FFFFFF;
margin: 5px 0px 0px 0px;
padding: 0px 24px 0px 24px;
}

#main h2 {
font-size:110%;
font-weight:bold;
color:#FFFFFF;
background:url(../images/h2.gif) no-repeat;
margin: 10px 0px 10px 0px;
padding: 8px 10px 8px 10px;
}

#main h3 {
font-size:105%;
border-left:#996633 solid 6px;
border-bottom:#cccccc solid 1px;
margin: 15px 10px 15px 10px;
padding: 5px 10px 5px 5px;
}


#main p {
margin: 20px 10px 20px 10px;
padding: 0px 0px 0px 0px;
}

#main blockquote {
margin: 20px 10px 20px 10px;
padding: 10px 10px 10px 10px;
border:#999999 dotted 1px;
background: #FFFFFF;
}

#main ul {
margin: 15px 30px 15px 28px;
padding: 0px 0px 0px 0px;
}

#main ol {
margin: 15px 30px 15px 35px;
padding: 0px 0px 0px 0px;
}

#main li {
line-height: 140%;
margin: 0px 0px 0px 0px;
padding: 0px 0px 5px 0px;
}

#main .red {
color:#CC0000;
font-weight:bold;
}


/* main table メインのテーブル
-----------------------------------------------------*/

#main table ul {
margin: 5px 0px 5px 20px;
padding: 0px 0px 0px 0px;
}

#main table {
margin: 10px 10px 10px 10px;
padding: 0px 0px 0px 0px;
width:580px;
border:solid #cccccc 1px;
border-collapse:collapse;
}

#main caption {
margin: 0px 0px 10px 0px;
font-size:110%;
font-weight:bold;
}

#main th {
padding: 10px 10px 10px 10px;
border:solid #cccccc 1px;
background-color:#f8f8f8;
text-align:center;
}

#main td {
padding: 10px 10px 10px 10px;
border:solid #cccccc 1px;
}


/* new 更新情報
-----------------------------------------------------*/

#main .new {
height: 150px;
overflow: auto;
margin-right: auto;
margin-left: auto;
}

#main .new li {
border-bottom:#CCCCCC dotted 2px;
margin: 5px 0px 5px 0px;
padding: 5px 0px 10px 0px;
}



/* sub サブ
-----------------------------------------------------*/

#sub {
float:right;
font-size:12px;
width:240px;
margin: 5px 10px 0px 0px;
padding: 0px 0px 0px 0px;
display: inline;
}

#sub h3 {
font-size:12px;
text-align:left;
font-weight:bold;
border-bottom:#CCCCCC solid 2px;
margin: 0px 0px 0px 0px;
padding: 5px 0px 5px 0px;
}

#sub .category {
margin: 0px 0px 0px 0px;
padding: 0px 11px 0px 11px;
background:#f9f9f9;
border:#ffffff solid 2px;
}

#sub .sotowaku {
margin: 5px 0px 10px 0px;
border:#e6e6e6 solid 2px;
}

#sub p {
margin: 15px 0px 15px 0px;
padding: 0px 0px 0px 0px;
}

#sub blockquote {
margin: 15px 0px 15px 0px;
padding: 10px 10px 10px 10px;
border:#999999 dotted 1px;
}

#sub .soto {
margin: 0px 15px 0px 15px;
}

#sub ul {
margin: 15px 0px 15px 18px;
padding: 0px 0px 0px 0px;
}

#sub li {
line-height: 170%;
margin: 0px 0px 0px 0px;
}

/* footer フッター
-----------------------------------------------------*/

#footer {
clear:both;
text-align:center;
font-size:10px;
border-top:#CCCCCC dotted 1px;
margin: 0px 0px 0px 0px;
padding: 5px 0px 5px 0px;
}

#footer p {
margin: 5px 25px 5px 25px;
padding: 0px 0px 0px 0px;
}

#footer a, #footer a:link, #footer a:visited {
text-decoration:underline;
}

#footer a:hover {
text-decoration: none;
}