/* =============================================================================
 * アプリケーション追加CSS
 * ========================================================================== */


/* Pager用 ---- */

.yiiPager {
	text-align: center;
	display: block;
	overflow:hidden;
	list-style: none;
	font-size: 0.75em;
	zoom : 1;
}
.yiiPager:after {  
  content: ".";   
  display: block;   
  height: 0;   
  clear: both;   
  visibility: hidden;  
}
.yiiPager li {
	float: left;
	margin-right: 5px;
	padding: 5px;
	border: 1px solid #0000FF;
}
.yiiPager li.selected{
	background-color: #0000FF;
	color: #fff;
}

/* ステータスによるcolor制御 */

.inactive td {
  background-color: #f2dede !important;
}


/* リピーター用 */
._im_repeater {
	border-bottom: dotted 1px #000020;
	margin-bottom: 1.6em;
	padding-bottom: 1.3em;
}

/* レジ商品選択用 */
.regi_select_item {
	padding:  0px;
	margin: 0px;
}
.regi_select_item li {
	display: block;
	border: 2px #8bc5e8 solid;
	padding: 5px;
	float: left;
	width: 20%;
	margin-left: 1em;
	margin-bottom: 1em;
	color: #FFF;
}
.regi_select_item li a {
	width: 90%;
}
.regi_clear {
	clear: both;
}


/* バーコード印刷用 */
.barcode_print{
	margin-top: 2em;
}
.barcode_print h2 {
	font-size: 1.3em;
}

.barcode_print h3 {
	font-size: 1.1em;
}

.barcode_print .barcode_print_one {
	border-bottom: 1px dotted #757882;
	margin-bottom: 1.0em;
	padding: 1.5em 0;
}

.barcode_print .barcode_print_sku{
	width: 25%;
	border: 1px dotted #757882;
	padding: 1em;
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
}
.barcode_print .barcode_print_sku_clear{
	clear: both;
}

.barcodeinput {
	margin-top: 4px;
}

/* 数量選択モーダル */
.input_num {
	width: 4em;
}

